<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codingshadows.focustimekeeper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PerformanceActivity"></activity>
        <activity android:name=".ShopActivity" />
        <activity android:name=".DocumentationActivity" />
        <activity android:name=".PermissionDetailsActivity" />
        <activity
            android:name=".ActivityDataFieldsActivity"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity
            android:name=".BottomNotificaionBar"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity android:name=".UserFriendProfileActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".MakeProgramActivity"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity android:name=".StayFocusedActivity" />
        <activity android:name=".PrivacyPolicyNoButtonsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".VerifyEmailActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".LoginRegisterActivity" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity android:name=".LoadingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>